
.container {
  font-family: "Pacifico", cursive;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;

}
.fondo{

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
   background: url('/images/fondoModerador.jpeg') no-repeat center center fixed;
 border-radius: 0px 0px 0px 0px;
 background-position: center center;
  background-repeat: no-repeat;
  
  background-size: 100% 100%; 
  background-attachment: scroll;    
   overflow: hidden;
}

.fondo::after{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.075);
  backdrop-filter: blur(4px);
  pointer-events: none;
}

.titulo {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 350%;
  width: 25%;
  height: 10%;
  font-family: "Pacifico", cursive;
  color: #ffffff;

  justify-content: center;
  background-color: #5E2C3F;

  text-align: left;
  padding-left: 5%;
  border-radius: 100px 10px;
}



.panel_menu{

  position: absolute;
  width: 23%;
  height: 30%;
  background-color:#5e2c3f34 ;
  border-radius: 100px 100px ;
  top: 30%;
  left: 3%;  
  padding-top: 5%;
  display:flex; flex-direction:column; 
  align-items: center; 
  gap: 5%;
}

.boton_menu{

  font-family: "Pacifico", cursive;
  left: 10%;
  width: 80%;
  height: 20%;
  border: none;
  border-radius: 100px 10px;
  background-color: #fd8e0f;
  color: #ffffff;
  font-size: 150%;
}
.boton_menu:hover{

  background-color:  #5e2c3f; ;

}
