.container {
  font-family: "Pacifico", cursive;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(202, 233, 247, 0);
      
  overflow: auto;
}
.container::-webkit-scrollbar{

  display: none;
}
.panel-2{
 left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
   background-color:rgba(111, 101, 143, 0) ;
   overflow-y: auto;
border-radius: 5px 


}

.panel-2::-webkit-scrollbar{

  display: none;
}
.fondo {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url("/images/fondoModerador.jpeg") no-repeat center center fixed;
  background-position: center center;
  background-repeat: no-repeat;

  background-size: 100% 100%;
  background-attachment: scroll;
  overflow: auto;
}

.fondo::after{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.075);
  backdrop-filter: blur(4px);
  pointer-events: none;
}


.titulo {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 350%;
  width: 43%;
  height: 10%;
  font-family: "Pacifico", cursive;
  color: #ffffff;

  justify-content: center;
  background-color: #5E2C3F;

  text-align: right;
  padding-right: 4%;
  border-radius: 100px 10px;
}

.panel-1 {
  top: 25%;
  left: 10%;
  position: absolute;
  width:80%;
  height: auto;
  background-color: #e8f4ffd2;
  padding: 2%;
  border-radius: 50px 50px;
}


.tarjeta-articulo {
  background-color: #5e2c3f54;
  border-radius: 100px 10px;
  font-size: 10px;
  border: 3px solid #ffffff;
position: relative;
 display: flex;
 height: 40px;
 padding-top: 1px;
 padding-bottom: 9px;
width: 2000px;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.tarjeta-articulo-numeracion{
  background-color: #5e2c3f;
  border-radius: 100px 10px;
  font-size: 10px;
  border: 3px solid #ffffff;
position: relative;
 display: flex;
 height: 40px;
 padding-top: 1px;
 padding-bottom: 9px;
width: 80px;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.encabezado-tarjeta-numeracion {
  background-color: #e9e5e5;
  border-radius: 100px 10px ;
  font-size: 10px;
height: 50px;
width: 150px;
 display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.encabezado-tarjeta-revision {
  background-color: #e9e5e5;
  border-radius: 100px 10px ;
  font-size: 10px;
height: 50px;
width: 2000px;
 display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  


.encabeado-revisando {
  font-family: "Pacifico", cursive;
  display: flex;        
  align-items: center;
  width: 100%;
   justify-content: center;
  border:#f3f3f3 5px solid;
  border-radius: 100px 10px;
  background-color: #ff9901;
  color: #ffffff;
  font-size: 230%;
}

.boton-procesar {
  font-family: "Pacifico", cursive;
  left: 10%;
  width: 25%;
  height: 100%;
  display: flex;        
  align-items: center;
   justify-content: center;
  border:#f3f3f3 5px solid;
  border-radius: 10px 100px;
  background-color: #5E2C3F;
  color: #ffffff;
  font-size: 230%;
}

.boton-procesar:hover {
  background-color: #a8617d9c;
  cursor: pointer;
}

.item-tarjeta-articulo {
  display: flex;
  width: 25%;
  
  color: #5E2C3F;
  align-items: center;
   justify-content: center;
  align-items: center;
}

.item-tarjeta-articulo-numeracion {
  display: flex;
  width: 150px;
  color: #ffffff;
  align-items: center;
   justify-content: center;
  align-items: center;
}


.boton-home{

  position: absolute;
  top: 5.7%;
  left: 0%;
  width: 10%;
  height: 10%;
  background-color: #fc891e;
  color: white;
  border:#5E2C3F 5px solid;
  border-radius: 10px 100px;
  font-size: 1.5em;
  font-family: "Pacifico", cursive;
}