<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-..."
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
    rel="stylesheet"
  />

  <link
    href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <div class="fondo"></div>
  <div class="container">
    <div class="panel-2">
      <button
        class="carro"
        (click)="irCarrito()"
      >
        <span class="material-icons">shopping_cart</span>
      </button>

      <div class="contador-carro">{{cantidadArticulos}}</div>
      <p class="titulo">
        E-Commerce GT
       
      </p>
      <button class="boton-home" (click)="regresarHome()">Inicio</button>
      <div class="panel-busqueda">
        <input
          class="barra-buscar"
          type="text"
          placeholder="Buscar artículos..."
        />
        <button class="boton-buscar">
  
  <span class="material-icons">search</span></button>
      </div> 
      
      <div class="categorias">
        <label class="categoriasLabel">Caregorias</label>
        <div class="checkbox-list">
          <div
            *ngFor="let cat of categoriasDisponibles"
            style="display: flex; align-items: center; margin: 4px 0"
          >
            <input
              type="checkbox"
              [attr.id]="cat.value"
              [value]="cat.value"
              (change)="onCategoryChange($event)"
              [checked]="selectedCategorias.includes(cat.value)"
            />
            <label [attr.for]="cat.value" style="margin-left: 8px">
              {{ cat.label }}
            </label>
          </div>
        </div>
      </div>
      <div class="panel-1">
        <button  *ngFor="let articulo of articulos" class="tarjeta-articulo">
          <div class="imagen-cargada">
            <img
              *ngIf="articulo.imagenB64"
              [src]="'data:image/png;base64,' + articulo.imagenB64"
              alt="Previsualización de imagen"
            />
          </div>
          <p>{{ articulo.nombre }}</p>
          <p>{{ articulo.precio  }}.00 Q</p>
          <button class="boton-compra" (click)="verificarArticulo(articulo.idArticulo)">Compra</button>
        </button>
      </div>
    </div>
  </div>
</body>
